/* selector {
    property: value;
} */

h1 {
    color: #738b89;
    text-align: center;
    font-size: 35px;
}
main{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: "Lora";
    font-size: 18px;
}
a {
    background-color: #87a5a3;
    color: #4b393a;
    border-radius: 4px;
    text-decoration: none;
    padding: 10px;
    margin: 5px;
    text-align: center;
}
footer{
    color: #4b393a;
    position: absolute;
    left: 10px;
    bottom: 0;
}